apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_app_name }}
  namespace: {{ argocd_app_namespace }}
spec:
  destination:
    namespace: {{ argocd_app_destination_namespace }}
    server: {{ argocd_app_destination_server }}
  project: {{ argocd_app_project }}
  source:
    chart: {{ helm_chart_name }}
    repoURL: https://{{ github_username }}.github.io/{{ github_repository_name }}/
    targetRevision: {{ helm_release_version }}
    helm:
      valueFiles:
      - values_{{ env }}.yaml
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
